{% extends "admin_dashboard.html" %}

{% block dashboard_content %}
<div class="container my-4">
    <div class="row">
        <div class="col-md-12">
            <h2>Edit Product</h2>
            <form method="post" enctype="multipart/form-data">
                {% csrf_token %}
                <div class="form-group">
                    <label for="pname">Product Name:</label>
                    <input type="text" class="form-control" id="pname" name="pname" value="{{pro.pname}}" required>
                </div>
                <div class="form-group">
                    <label for="price">Price:</label>
                    <input type="number" step="0.01" class="form-control" id="price" name="price" value="{{pro.price}}" required>
                </div>
                
                <div class="form-group">
                    <input type="hidden" id="cat" name="cat" value="{{pro.category}}"/>
                    <label for="category">Category:</label>
                    <select class="form-control" id="category" name="category"  required>
                    
                        {% for category in id %}
                            <option value="{{ category.id}}" class='cat_value' >{{ category }}</option>
                        {% endfor %}
                    </select>
                </div>
                <div class="form-group">
                    <label for="des">Description:</label>
                    <textarea class="form-control" id="des" name="des" rows="3"  required>{{pro.des}}</textarea>
                </div>
                <div class="form-group">
                    <label for="image">Image:</label>
                    <input type="file" class="form-control-file" id="image" name="image" >
                </div>

                <button type="submit" class="btn btn-primary">Submit</button>
            </form>
        </div>
    </div>
</div>
{% endblock dashboard_content %}
{% block script_content %}
<script>
    let cat = document.getElementById('cat');
    let cateogry = document.getElementsByClassName('cat_value');
    console.log(cat.value,cateogry)
    for( c of cateogry){
        console.log(c.innerText)
        if(c.innerText == cat.value){
            c.selected = true
        }
    }

</script>
{% endblock %}
