{% extends "admin_dashboard.html" %}

{% block dashboard_content %}

<table class="table table-blue table-striped my-4">
  <thead>
    <tr class="bg-warning ">
      <th scope="col">P_id</th>
      <th scope="col">Name</th>
      <th scope="col">Price</th>
      <th scope="col">Category</th>
      <th scope="col">Image</th>
      <th scope="col">Action</th>
    </tr>
  </thead>
  <tbody>
  {% for prod in pro %}
    <tr>
      <th scope="row">{{prod.id}}</th>
      <td>{{prod.pname}}</td>
      <td>{{prod.price}}</td>
      <td>{{prod.category}}</td>
      <td><img src="{{ prod.image.url }}" alt="" height="100" width="100"></td>
      <td>
        <a href="{% url 'edit_product' prod.id %}" class="btn btn-primary">Edit</a>
        <a href="{% url 'delete_product' prod.id %}" class="btn btn-danger">Delete</a>
      </td>
    </tr>

  {% endfor %}
  </tbody>
</table>

{% endblock dashboard_content %}
